{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Delete Review page{% endblock %}

{% block content %}

<h2 style="padding: 20px;">Are you sure you want to delete the review you made for the reservation at {{booking.restaurant}} restaurant for the {{booking.date}} at {{booking.time}} ?</h2>

<form class="form-control"  method="POST">
    {% csrf_token %}
    <input class="btn btn-primary" type="submit">
    <a class="btn btn-danger" href="{% url 'reviews' %}">Cancel</a>
</form>
{% endblock %}