{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login page{% endblock %}

{% block content %}
{% for message in messages %}
    <div class="alert alert-info">{{message}}</div>
{% endfor %}
<form class="p-5" action="{% url 'login' %}" method="post">

    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label" for="exampleInputEmail1">Email address</label>
        <input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1" name="username" type="text">
    </div>
    <div class="mb-3">
        <label class="form-label" for="exampleInputPassword1">Password</label>
        <input class="form-control" id="exampleInputPassword1" name="password" type="password">
    </div>

    <button class="btn btn-primary" type="submit" value="Login">Submit</button>

</form>
{% endblock %}