<div class="fixed-top vw-100">
    <nav class="navbar navbar-dark bg-dark flex-row-reverse vw-100">
        <div>
            {% if user.is_authenticated %}
            {% if user.is_staff %}
            <a href="{% url 'admin:index' %}">Admin</a>
            {% endif %}
            <a href="{% url 'logout' %}" style="margin-right: 2em">Logout</a>
            {% else %}
            <a href="{% url 'login' %}" style="margin-left: 2em; margin-right: 2em">Login</a>
            <a href="{% url 'register' %}" style="margin-left: 2em; margin-right: 2em">Register</a>
            {% endif %}
        </div>
               <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none" href="/">
                    <svg class="bi pe-none me-2" height="32" width="40">
                        <use xlink:href="#bootstrap"/>
                    </svg>
                    <span class="fs-4">Dine2Day</span>
                </a>
</nav>
</div>

