{% extends 'base.html' %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                                                                                         src="{{user.profile.image_url}}"
                                                                                         width="150px"><span
                    class="font-weight-bold p-3">{{user.name}}</span><span
                    class="text-black-50">{{user.email}}</span><span> </span></div>
            <div >
            <form class="d-flex flex-column justify-content-between" method="POST" action="{% url 'user_dashboard_view' %}" enctype="multipart/form-data" >
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Change Profile Picture">
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}