{% extends 'base.html' %}

{% block content %}
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th class="col-2" scope="col">Booking ID</th>
            <th class="col-6" scope="col">Text</th>
            <th class="col-2" scope="col">Restaurant</th>
            <th class="col-2" scope="col">Delete Review</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for review in reviews %}
            <td>{{booking.id}}</td>
            <td>{{review.text}}></td>
            <td>{{review.restaurant}}</td>
            <td class="rounded align-middle text-center">
                <a class="btn btn-info btn-lg active" href="{% url 'delete' %}">Delete it</a>
                <a class="btn btn-info btn-lg active" href="{% url 'edit' %}">Edit it</a>
            </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}