body, html {
    height: 100%;
    overflow: hidden;
  	padding-top: 24px;
  	padding-bottom: 25px;
}

.scroll {
    overflow: auto;
    height: 100%;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
}

.btn-group {
    margin-left: 100px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

video {
    width: 100%;
    height: 100%;
}

.section {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0;
}

.section main {
    z-index: 1;
}

.first {
    font-size: 300%;
    font-weight: bold;
    background-color: black;
    opacity: 0.8;
    text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
}

.space {
    padding: 85px;
}

.book {
    font-size: 24px;
    padding: 14px 40px;
}
